<a href="https://colab.research.google.com/github/Gideon-art/Hamoye/blob/main/FAO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
import pandas as pd
fao = pd.read_csv('https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv ', encoding='latin-1')

In [36]:
fao

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

What is the total Protein supply quantity in Madagascar in 2015?

In [37]:
fao[(fao['Area']=='Madagascar') & (fao['Y2015'])].sum()

Area Code                                                  101007
Area            MadagascarMadagascarMadagascarMadagascarMadaga...
Item Code                                                 2128948
Item            PopulationGrand TotalGrand TotalGrand TotalVeg...
Element Code                                              2811467
Element         Total Population - Both sexesFood supply (kcal...
Unit            1000 personskcal/capita/dayg/capita/dayg/capit...
Y2014                                                   128985.25
Y2015                                                    126674.9
Y2016                                                   128952.17
Y2017                                                   131075.68
Y2018                                                   134434.33
dtype: object

Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

In [38]:
fao.groupby('Element')['Y2017'].sum()['Processing']

292836.0

What is the total Protein supply quantity in Madagascar in 2015?

In [39]:
fao[(fao['Area']=='Madagascar') & (fao['Y2015'])]['Y2015'].sum()

126674.9

What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [40]:
total_missing = fao['Y2014'].isnull().sum()
percent_missing = (total_missing / len(fao['Y2014'])) * 100
percent_missing = round(percent_missing, 3)
print(percent_missing)
print(total_missing)

2.607
1589

Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

In [41]:
sum_stock=fao.groupby('Element')['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'].sum()
sum_stock.sum()

<ipython-input-41-59f443962e6e>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  sum_stock=fao.groupby('Element')['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'].sum()

Y2014    7965086.13
Y2015    8032340.23
Y2016    8112472.65
Y2017    8375729.19
Y2018    8554629.96
dtype: float64

Mean and STD

In [42]:
fao.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

In [43]:
selected_cols = fao[['Y2017', 'Area']]
grouped = selected_cols.groupby('Area').sum()
seventh_lowest = grouped.sort_values(by='Y2017').iloc[6].name
seventh_lowest

'Guinea-Bissau'

Which year had the least correlation with ‘Element Code’?

In [44]:
corr_df = fao[['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].corr()
corr_df['Element Code'][1:]

Y2014    0.024457
Y2015    0.023889
Y2016    0.023444
Y2017    0.024254
Y2018    0.024279
Name: Element Code, dtype: float64

If you have the following list  lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]  col = [‘Age’,’Nationality’,’Overall’]  How do you create a pandas DataFrame using this list, to look like the table below?

In [45]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = ['Age', 'Nationality', 'Overall']
cols = pd.DataFrame(lst, columns=col)
cols

   Age Nationality  Overall
0   35    Portugal       94
1   33   Argentina       93
2   30      Brazil       92

What is the total sum of Wine produced in 2015 and 2018 respectively?

In [46]:
wine_production = fao[fao['Item'] == 'Wine']
sum_wine_2015_2018 = wine_production[['Y2015', 'Y2018']].sum()
sum_wine_2015_2018

Y2015    4251.81
Y2018    4039.32
dtype: float64

Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

In [47]:
selected_cols = fao[['Y2017', 'Area']]
grouped = selected_cols.groupby('Area').sum()
highest_sum_2017 = grouped['Y2017'].idxmax()
highest_sum_2017

'Nigeria'

What is the total number of unique countries in the dataset?

In [48]:
fao['Area'].nunique()

49

What is the total Protein supply quantity in Madagascar in 2015?

In [49]:
madagascar_protein_2015 = fao[(fao['Area'] == 'Madagascar') & (fao['Element'] == 'Food supply quantity (kg/capita/yr)') & (fao['Item'] == 'Protein')]
total_protein_2015 = madagascar_protein_2015['Y2015'].sum()
total_protein_2015

0.0